{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Broker Rank - Index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Broker Rank</h1>
</div>

<form class="form-inline" method="GET" action="{{url_for('commissions.rank')}}">
    <div class="form-group">
        <label for="year" >Year</label>
        <div class="input-group date" id="datetimepicker">
            <input type="text" class="form-control" name="year" id="year"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="quarter">Quarter</label>
        <select name="quarter" id="quarter" class="form-control">
            {% for q in range(1,5) %}
                {% if q == quarter %}
                    <option value="{{ q }}" selected>Q{{ q }}</option>
                {% else %}
                    <option value="{{ q }}">Q{{ q }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
</form>

    <div>
    {{ table | safe }}
    </div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function() {
       var today = new Date();
       $('#datetimepicker').datetimepicker({
           format: 'YYYY',
        {% if year is defined %}
            defaultDate: today.setYear({{ year }})
        {% else %}
            defaultDate: today
        {% endif %}
       });
    });
</script>
{% endblock %}