{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Broker Rank - Index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Broker Rank</h1>
</div>

<form class="form-inline" method="GET" action="check">
    <div class="form-group">
        <label for="year" >Year</label>
        <div class="input-group date" id="datetimepicker">
            <input type="text" class="form-control" name="year" id="year"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="quarter">Quarter</label>
        <select name="quarter" id="quarter" class="form-control">
            <option value="Q1">Q1</option>
            <option value="Q2">Q2</option>
            <option value="Q3">Q3</option>
            <option value="Q4">Q4</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function() {
       var today = new Date();
       $('#datetimepicker').datetimepicker({
           format: 'YYYY',
           defaultDate: today
       })
    });
</script>
{% endblock %}