{% extends "layoutA4landscape.html" %}
{% block body %}
<section class="sheet padding-10mm">
    <form action="{{url_for('main.summary')}}" method="GET">
    <table>
        <tr>
            <th>Start</th>
            <td><strong><input type="text" value="{{params['start_date']}}"  name="startDate" id="datepicker1"></strong></td>
            <th>End</th>
            <td><strong><input type="text" value="{{params['end_date']}}" name="endDate" id="datepicker2"></strong>
                <input type="submit" value="Go" id="goButton"/></td>
            <td>
                <button type="button" id="copytocb">Copy to clipboard</button>
                <a href="{{ url_for('auth.logout') }}" id="signoutlink">Logout</a>
            </td>

        </tr>
    </table>
    </form>
    {{ table | safe}}
    <small>※OutperformanceVsTopix is calculated based on Topix</small>
    <script>
    $(document).ready(function() {
      var copyToCb = document.querySelector('#copytocb');
        copyToCb.addEventListener('click', function(event) {
           data = '{{ copy_table | safe }}';
           data = data.replace(/<EOL>/g, '\r\n');
          copyTextToClipboard(data);
          });

    });


    var picker1 = new Pikaday({
            field: document.getElementById('datepicker1'),
            format: 'YYYY-MM-DD'
     });
    var picker2 = new Pikaday({
            field: document.getElementById('datepicker2'),
            format: 'YYYY-MM-DD'
     });

    </script>

</section>

{% endblock %}
