{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Trade history - Index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Trade history</h1>
</div>
<div class="col-md-4">
    <form class="form-inline" method="GET" action="check">
        <div class="form-group">
            <label for="quick">Quick</label>
            <input type="text" class="form-control" id="quick" placeholder="7200 or 711 HK or HACK US" autofocus>
        </div>
        <button type="submit" class="btn btn-default">Check</button>
    </form>
</div>
{% endblock %}