[Unit]
Description=Web Attribution
After=network.socket

[Service]
PIDFile=/tmp/pid
User=backoffice
Group=nginx
WorkingDirectory=/home/backoffice/analyticsweb
Environment="PATH=/home/cuong/anaconda3/envs/attribution/bin"
Environment="MAIL_USERNAME=auto@rockhampton-mgt.com"
Environment="MAIL_PASSWORD=ROCK#E123"
Environment="MAIL_SENDER=auto@rockhampton-mgt.com"

ExecStart=/home/cuong/anaconda3/envs/attribution/bin/gunicorn --workers 3 --pid /tmp/pid --bind unix:webattribution.sock -m 007 manage:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
