{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="{{ url_for('.index') }}">ホーム</a>
                <a href="{{ url_for('.edit', id=page.id) }}">Edit</a>
            </div>
        </div>
        <h2>登録内容：</h2>
        <div class="row">
            <ul>
                <li>URL: {{ page.url }}</li>
                <li>Cron: {{ page.cron }}</li>
                <li>XPath: {{ page.xpath }}</li>
                <li>Keyword: {{ page.keyword }}</li>
                <li>更新時刻: {{ moment(page.updated_time).format('YYYY-MM-DD HH:mm:ss') }}</li>
                <li>作成時刻：{{ moment(page.created_time).format('YYYY-MM-DD HH:mm:ss') }}</li>
                <li>最後確認時刻：{{ moment(page.last_check_time).format('YYYY-MM-DD HH:mm:ss') }}</li>
            </ul>
        </div>
        <h3>最後の差異</h3>
        {% if page.diff %}
            <div class="row">
                {{ page.diff | safe }}
            </div>
        {% else %}
            なし。
        {% endif %}
        <h3>最後取得コンテンツ:</h3>
        {% if page.text %}
            <div class="row" style="background-color: grey">
                <p>{{ page.text | safe }}</p>
            </div>
        {% else %}
            なし。
        {% endif %}
        <div class="row">
            <div class="col-4">
                <a href="{{ url_for('.index') }}">ホーム</a>
                <a href="{{ url_for('.edit', id=page.id) }}">Edit</a>
            </div>
        </div>

    </div>
{% endblock %}