{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <hr/>
    <div class="container">
        <div class="row">
            <ul>
                <li>URL: {{ page.url }}</li>
                <li>Cron: {{ page.cron }}</li>
                <li>XPath: {{ page.xpath }}</li>
                <li>Keyword: {{ page.keyword }}</li>
                <li>更新時刻: {{ moment(page.updated_time).format('YYYY-MM-DD HH:mm:ss') }}</li>
                <li>作成時刻：{{ moment(page.created_time).format('YYYY-MM-DD HH:mm:ss') }}</li>
                <li>最後確認時刻：{{ moment(page.last_check_time).format('YYYY-MM-DD HH:mm:ss') }}</li>
            </ul>
        </div>
        <div class="row">
            <a href="{{ url_for('.index') }}">Index</a>
        </div>
    </div>
{% endblock %}